@charset "utf-8";
/* CSS Document */
html,body{
	margin: 0px;
	height: 100%;
	width: 100%;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	background: #E1E1E1;
	overflow: hidden;
}
ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.mapTop{
	width: 100%;
	height: 88px;
	background: url(../img/bgk.png);
	border-bottom: 1px solid #2375a5;
}
.mapToplogoBg{
	width: 761px;
	height: 88px;
	background: url(../img/tittle1.png);
	margin: auto;
}
.logo{
	height: 50px;
	background: url(../img/logo.png) no-repeat;
	float: left;
	margin-left: 180px;
	margin-top: 15px;
}
.logo span{
	display: block;
	color: #ffffff;
	margin-left: 70px;
	line-height: 45px;
	font-size: 40px;
	font-family: "微软雅黑";
}
.mapToplogoBg1{
	width: 780px;
	height: 19px;
	background: url(../img/tittle2.png);
}
.mapTopright{
	position: absolute;
	right: 25px;
	top: 0px;
	line-height: 88px;
	color: #ffffff;
	font-size: 26px;
}

@media screen and (max-width: 800px){
	#toolbar{
		display: none;
	}
}
